@import "tailwindcss";

/* ========================================
     Headline Class
     ======================================== */

@utility headlines-h1 {
  font-family: var(--font-heading);
  font-size: 64px;
  font-weight: 800;
}

@utility headlines-h2 {
  font-family: var(--font-heading);
  font-size: 56px;
  font-weight: 800;
}

@utility headlines-h3 {
  font-family: var(--font-heading);
  font-size: 48px;
  font-weight: 800;
}

@utility headlines-h4 {
  font-family: var(--font-heading);
  font-size: 40px;
  font-weight: 800;
}

@utility headlines-h5 {
  font-family: var(--font-heading);
  font-size: 32px;
  font-weight: 800;
}

@utility headlines-h6 {
  font-family: var(--font-heading);
  font-size: 24px;
  font-weight: 800;
}

/* ========================================
     Typograph Class
     ======================================== */

@utility body-regular-xl {
  font-family: var(--font-body);
  font-size: var(--font-size-body-xl);
  font-weight: var(--font-weight-regular);
}

@utility body-regular-lg {
  font-family: var(--font-body);
  font-size: var(--font-size-body-lg);
  font-weight: var(--font-weight-regular);
}

@utility body-regular-md {
  font-family: var(--font-body);
  font-size: var(--font-size-body-md);
  font-weight: var(--font-weight-regular);
}

@utility body-regular-sm {
  font-family: var(--font-body);
  font-size: var(--font-size-body-sm);
  font-weight: var(--font-weight-regular);
}

@utility body-regular-xs {
  font-family: var(--font-body);
  font-size: var(--font-size-body-xs);
  font-weight: var(--font-weight-regular);
}

@utility body-semibold-xl {
  font-family: var(--font-body);
  font-size: var(--font-size-body-xl);
  font-weight: var(--font-weight-semibold);
}

@utility body-semibold-lg {
  font-family: var(--font-body);
  font-size: var(--font-size-body-lg);
  font-weight: var(--font-weight-semibold);
}

@utility body-semibold-md {
  font-family: var(--font-body);
  font-size: var(--font-size-body-md);
  font-weight: var(--font-weight-semibold);
}

@utility body-semibold-sm {
  font-family: var(--font-body);
  font-size: var(--font-size-body-sm);
  font-weight: var(--font-weight-semibold);
}

@utility body-semibold-xs {
  font-family: var(--font-body);
  font-size: var(--font-size-body-xs);
  font-weight: var(--font-weight-semibold);
}

@utility body-extrabold-xl {
  font-family: var(--font-body);
  font-size: var(--font-size-body-xl);
  font-weight: var(--font-weight-extrabold);
}

@utility body-extrabold-lg {
  font-family: var(--font-body);
  font-size: var(--font-size-body-lg);
  font-weight: var(--font-weight-extrabold);
}

@utility body-extrabold-md {
  font-family: var(--font-body);
  font-size: var(--font-size-body-md);
  font-weight: var(--font-weight-extrabold);
}

@utility body-extrabold-sm {
  font-family: var(--font-body);
  font-size: var(--font-size-body-sm);
  font-weight: var(--font-weight-extrabold);
}

@utility body-extrabold-xs {
  font-family: var(--font-body);
  font-size: var(--font-size-body-xs);
  font-weight: var(--font-weight-extrabold);
}


@utility bg-radial-game {
  background-color: #031408; /* O fundo base da imagem é esse verde floresta bem escuro */
  background-image: 
    /* 1º PONTO FORTE: O holofote amarelo brilhante bem em cima do botão (embaixo/direita) */
    radial-gradient(circle at 75% 100%, rgba(242, 192, 70, 0.4) 0%, rgba(242, 192, 70, 0.1) 20%, transparent 50%),
    /* 2º PONTO FORTE: A grande luz verde acesa que vem do canto superior esquerdo */
    radial-gradient(circle at 15% 25%, #0f4d1e 0%, #062b10 30%, transparent 70%);
}